.idea
.DS_STORE
.lock
.ipynb_checkpoints
.vscode
__pycache__
optimization_based/summarization_outputs
evaluation_outputs
summarization_outputs
summarization_output
summarization_outputs_nltk_tokenize
*.ipynb
*.csv